lasso-page package-path="./browser.json"

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Lifecycle Events | morphdom</title>
        <lasso-head/>
    </head>
    <body>
        <include-html("./todos.marko")/>

        <h2>Add todo:</h2>

        <form onsubmit="window.handleTodoFormSubmit(event)">
            <input id="todoInput" type="text" value="Code">
        </form>

        <lasso-body/>

        <browser-refresh/>
    </body>
</html>

