<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>morphdom examples</title>
    </head>

    <body>
        <ul>
            <for|example| of=data.examples>
                <li>
                  <a href=`${example.route}`>${example.name}></a>
                </li>
            </for>
        </ul>
    </body>
</html>

